.depoimentos {      
    background-color: var(--color-primery);
    color: #000; 
    height: 48rem;
}

.slider__depoimento {
    padding-top: 4.8125rem; 
    color: #000000;
}

.slide__depoimento-image {
    display: block;
    margin-left: auto;
    margin-right: auto;       
    max-width: 18.875rem;
    max-height: 18.875rem;
}

.id__depoimento {
    margin: 0; 
    justify-content: center;   
    display: grid;  
}

.id__depoimento h1 { 
    margin: 0;
    padding-top: 2.0625rem; 
    font-size: 3.125rem;
    letter-spacing: -0.125rem;
    font-weight: 700;  
    line-height: 2rem;
}

.id__depoimento span {
    margin: 0;
    margin-left: auto;
    padding-top: 0.5625rem;
    font-size: 0.875rem;
    letter-spacing: 0.12rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
}

.id__depoimento h2 {
    margin: 0; 
    padding-top: 0.8rem;
    margin-bottom: -1.4rem;
    font-size: 5.25rem;
    font-weight: 700;
    text-align: center;   
}

.slider__depoimento p {
    margin: 0;
    margin-bottom: 2.6875rem;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 36.8125rem;
    height: 5.5rem;
    font-size: 0.9375rem;
    line-height: 1.875rem;
    font-weight: 400;
    text-align: center;
}

.slick-dots li button::before {
    opacity: 1;
    font-size: 1.25rem;
    color: #fff;
}

.slider__depoimento_prev-arrow,
.slider__depoimento_next-arrow {
    top: 60%;
    width: 2.5rem;
    height: 2.5rem;
    border: 5px solid #fff;
    border-right: unset;
    border-bottom: unset;
    opacity: 0.9;
}

 .slider__depoimento_prev-arrow {
    z-index: 1;
    left: 1rem;
    transform: rotate(-45deg);
 }
 
.slider__depoimento_next-arrow {
    right: 1rem;
    transform: rotate(135deg);
}

.slider__depoimento_prev-arrow::before,
.slider__depoimento_next-arrow::before {
    content: "";
}
