.galeria {
    margin: 0;
    height: 67.5rem;
    background-color: #000;
}

.gallery__copy {
    padding-top: 9.75rem;
    padding-bottom: 10.8125rem;
}

.gallery__column {
    flex: 20%;
    padding: 0 0.25rem;    
}

.gallery__row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.image01 {
    margin-top: 1.8125rem;
    vertical-align: middle;
    width: var(--width-gallery);
    height: 10.8125rem;
}

.image02 {
    margin-top: 1.8125rem;
    vertical-align: middle;
    width: var(--width-gallery);
    height: 15.625rem;
}

.image03 {
    margin-top: 1.8125rem;
    vertical-align: middle;
    width: var(--width-gallery);
    height: 15.75rem;
}

.image04 {
    margin-top: 1.8125rem;
    vertical-align: middle;
    width: var(--width-gallery);
    height: 21.6875rem;
}

.image05 {
    margin-top: 1.8125rem;
    vertical-align: middle;
    width: var(--width-gallery);
    height: 15.75rem;
}

.image06 {
    margin-top: 1.8125rem;
    vertical-align: middle;
    width: var(--width-gallery);
    height: 17.625rem;
}

.image07 {
    margin-top: 1.8125rem;
    vertical-align: middle;
    width: var(--width-gallery);
    height: 10.4375rem;
}

.image08 {
    margin-top: 1.8125rem;
    vertical-align: middle;
    width: var(--width-gallery);
    height: 15.75rem;
}

.image09 {
    margin-top: 1.8125rem;
    vertical-align: middle;
    width: var(--width-gallery);
    height: 12.1875rem;
}

.image10 {
    margin-top: 1.8125rem;
    vertical-align: middle;
    width: var(--width-gallery);
    height: 27.0625rem;
}
